<html lang="ru">

    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1> <%= title %> </h1>
    <hr>
    <h3> System information: </h3>
    <p> Free memory: <%= freemem %> </p>

    lanadress
</body>
</html>


